@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@1,300&family=Parisienne&family=Pridi:wght@300&family=Yrsa&display=swap');

/* Colores */
/* Negro: #040404 */
/* Azul: #717ec2 */
/* Azul Medio: #c6d2fd */
/* Azul Clarito: #e3eafa */
/* Blanco: #fefefe */

/* 
font-family: 'Dancing Script', cursive;
font-family: 'Josefin Slab', serif;
font-family: 'Parisienne', cursive; 
*/


*{
    margin: 0;
    padding: 0;
    font-family: 'Josefin Slab', serif;
}

html{
    scroll-behavior: smooth;
}

/* navbar */

a{
    text-decoration: none;
}

h1{
    font-family: 'Parisienne', cursive;
    font-size: 5vw;
    color: #717ec2;
} 

.navbar {
    background-color: #fefefe;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 9vh;
    padding: 20px;
    background-color: #e3eafa;
}

.menu {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.menu li {
    margin-left: 20px;
}

.menu li a {
    font-family: 'Josefin Slab', serif;
    color: #717ec2;
    text-decoration: none;
    font-size: 1.5vw;
    font-weight: bold;
    padding: 10px;
    border-radius: 20px;
    transition: background-color 0.2s ease-out, color 0.2s ease-out;
}

.menu li:hover a {
    background-color: #717ec2;
    color: #e3eafa;
}

/* Fin navbar */

/* Banner */

#banner {
    background-image: url("../img/banner.jpg");
    background-repeat: no-repeat;
    background-size: 100vw;
    height: 100vh;
}

/* Fin Banner */

/* Nosotros */

.nosotros {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    }
    
    .div1 { grid-area: 1 / 1 / 2 / 2; }
    .div2 { grid-area: 1 / 2 / 2 / 3; }

h2{
    font-family: 'Dancing Script', cursive;
    font-size: 5vw;
    color: #717ec2;
    text-align: center;
    padding-bottom: 20px;
}

.nosotros img{
    width: 100%;
}

.nosotros{
    margin: 40px;
}

.div2{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.div2 h3{
    padding: 20px;
    font-size: 4vw;
    font-weight: bold;
}

.div2 p{
    padding: 20px;
    font-size: 1.5vw;
}

.boton {
    display: inline-block;
    background-color: #717ec2;
    color: white;
    padding: 15px 25px;
    border-radius: 15px;
    font-size: 2.5vh;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.boton:hover {
    background-color: #5a5da5;
}

/* Fin Nosotros */

/* Servicios */

.logo{
    height:150px;
    width: 150px;
}

.servicios p{
    padding: 20px;
    font-size: 1.5vw;
    text-align: center;
}

#servicios{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;
    padding-top: 20px;
    background-color: #e3eafa;
}

.servicios a{
    margin-top: 30px;
}
/* Fin Servicios */

/* Slider */
.slider{
    width: 80%;
    height: 80vh;
    overflow: hidden;
}
.slider ul{
    display: flex;
    animation: cambio 12s infinite alternate linear;
    width: 400%;
}
.slider li{
    width: 100%;
    list-style: none;
}
.slider img{
    width: 100%;
}
@keyframes cambio{
    0%{margin-left: 0;}
    20%{margin-left: 0;}
    
    25%{margin-left: -100%;}
    45%{margin-left: -100%;}
    
    50%{margin-left: -200%;}
    70%{margin-left: -200%;}
    
    75%{margin-left: -300%;}
    100%{margin-left: -300%;}
}
@media only screen and (min-width:320px) and (max-width:768px){
.slider, .slider ul, .slider img{
    height: 100vh;
}
}
/* Fin Slider */

/* Galeria */

.galeria{
    text-align: center;
    background-color: #fefefe;
    padding-bottom: 25px;
}
.productos {
    display: flex;
    display: inline-block;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}  

.galeria h2{
    padding: 10px ;
}

.cajitas {
    width: 375px;
    height: 550px;
    margin: 20px;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease;
    background-color: #e3eafa;
}

.cajitas:hover {
    transform: translateY(-10px);
}

.cajitas img {
    width: 100%;
    height: 50%;
    object-fit: cover;
}

.cajita-texto {
    padding: 20px;
    text-align: center;
}

.cajita-texto h3 {
    font-family: 'Dancing Script', cursive;
    font-size: 40px;
    font-weight: bold;
    font-weight: 600;
    margin-bottom: 10px;
}

.cajita-texto p {
  font-size: 23px;
  color: #040404;
}

/* Fin Galeria */

/* Equipo */
#equipo{
    background-color: #e3eafa;
    padding: 20px;
}

.equipo-text p{
    padding: 20px;
    font-size: 1.5vw;
    text-align: center;
}

.equipo {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.equipo img {
    width: 30vw;
    margin: 10px;
    transition: transform 0.2s ease-in-out;

}
.equipo img:hover {
    transform: translateY(-10px);
}

/* Fin Equipo */

/* Footer */
footer {
    background-image: url("../img/PatronFondo.png");
    background-repeat: repeat;
    background-size: 150px;
    color: #040404;
    padding: 30px 0;
}
    
.footer-container {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    margin: 0 auto;
}
    
.contact-info h2{
    margin-bottom: 20px;
    font-size: 5vw;
    font-weight: 800;
    color: #040404;

}
    
.contact-info p{
    margin-bottom: 10px;
    font-size: 20px;
    font-weight: 800;
    text-align: center;
}
    
.creditos {
    text-align: center;
    margin-top: 30px;
}
    
.creditos p {
    font-weight: bold;
    font-size: 1vw;
}

/* Fin Footer */


/* Boton de ir hacia arriba */

#button-up{
    width: 60px;
    height: 60px;
    background:  #717ec2;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fefefe;
    border-radius: 50%;
    font-size: 20px;
    position: fixed;
    bottom: 50px;
    right: 50px;
    cursor: pointer;
    border: 4px solid transparent;
    transition: all 300ms ease;
    transform: scale(0);
}

#button-up:hover{
    transform: scale(1.1);
    border-color: rgba(0, 0, 0, 0.1);
}

/* Fin Boton de ir hacia arriba */